
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 10px;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 7vw;
    /*font-weight: bold;*/
    color: white;
    font-weight: 100;
    text-align: center;
}
